<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DraftAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="OutputType" value="VGA" />
    <add key="DraftType" value="NFL"/>
    <add key="LoadPlayers" value="true"/>
    <add key="LoadTeams" value="true"/>
    <add key="LoadTeamLogos" value="true"/>
    <add key="LoadSchools" value="true"/>
    <add key="LoadSchoolLogos" value="false"/>
    <add key="LoadDraftOrder" value="true"/>
    <add key="LoadOnTheClock" value="true"/>
    <add key="LocalImageDirectory" value="C:\Temp\Draft\Images" />
    <add key="TemplateDirectory" value="\\brsfsmedia02\draft\Templates\NFL" />
    <add key="PickPlateDirectory" value="\\brsfsmedia02\draft\Templates\NFL\Images\PickPlates" />
    <add key="PollChipDirectory" value="\\brsfsmedia02\draft\Templates\NFL\Images\PollChips" />
    <add key="FranchiseChipDirectory" value="\\brsfsmedia02\draft\Templates\NFL\Images\FranchiseChips" />
    <add key="ClockOverlayDirectory" value="\\brsfsmedia02\draft\Templates\NFL\Images\ClockOverlays" />
    <add key="RightLogoDirectory" value="\\brsfsmedia02\draft\Templates\NFL\Images\BrandingLogos" />
    <add key="QueryDirectory" value="\\brsfsmedia02\draft\Queries\NFL" />
    <add key="ImsDirectory" value="\\HEADSHOT01\Images" />
    <add key="DefaultTeamLogo" value="\\HEADSHOT01\IMAGES\IMS_IMAGES\SD\LOGOS_NO_KEY\FOOTBALL\NFL\NFL_SHIELD_256.TGA" />
    <add key="InterruptionTemplate" value="Interruption.xml" />
    <add key="TwitterTemplate" value="Twitter.xml" />
    <add key="EndOfDraftChip" value="POST_DRAFT_Clock_cover_ele.tga"/>
    <add key="PlayersDataFile" value="\\brsfsmedia02\draft\Documents\NFL\players.xml" />
    <add key="TeamsDataFile" value="\\brsfsmedia02\draft\Documents\NFL\teaminfo.xml" />
    <add key="ImportLogFile" value="\\brsfsmedia02\draft\Documents\NFL\playerimport.log" />
    <add key="InterruptionTextFile" value="\\brsfsmedia02\draft\Documents\NFL\interruption_text.txt"/>
    <add key="PollUrl" value="http://proxy.espn.go.com/nfldraft/verge/draftCast/poll/tvdata"/>
    <add key="RefreshPollInterval" value="5"/>    
    <add key="PlayoutIP" value="127.0.0.1"/>
    <add key="CompPlayoutPort" value="1000" />
    <add key="ClockPlayoutPort" value="1002" />
    <add key="ConnectToPlayout" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DraftStartDateTime" value="4/25/2013 20:00"/>
    <add key="TeamTidbitsDatabase" value="SDR"/>
    <add key="LoadTeamTidbits" value="false"/>
    <add key="WebServiceUrl" value="http://scliveweb222/dataserver/service.asmx"/>
    <add key="LHNGameNum" value="20120908NCAAFTEXAS-----0"/>
    <add key="LHNVisitID" value="6869"/>
    <add key="LHNHomeID" value="7619"/>
    <add key="ConsumerKey" value="gtxdMzXJdFtAmo8c0WyWUA"/>
    <add key="ConsumerSecret" value="QtzS6LCQ0pW2PY0sxlDEDAYaVQRpJFzqudypDH9fzU"/>
    <add key="Token" value="613614101-gnJB8LKndWDCpj92HrrJ55k1rYfg91jY2DJixc8A"/>
    <add key="TokenSecret" value="Nz5sjEfDN8LP4nEfImJAZrNEoHTmP8xWHAgLtES7fU"/>
  </appSettings>
  <connectionStrings>
    <add name="MySqlDbConn" connectionString="Server=localhost;Database=draftdb;UID=root;PWD=espn;PORT=3306" />
    <add name="SDRDbConn" connectionString="user id=espnews;password=espnews;Data Source=sdrtest" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <DraftAdmin.Properties.Settings>
      <setting name="DraftAdmin_scliveweb_Service" serializeAs="String">
        <value>http://scliveweb/dataserver/service.asmx</value>
      </setting>
      <setting name="NFLDraft_scliveweb_Service" serializeAs="String">
        <value>http://misdevtest1/dataserver/service.asmx</value>
      </setting>
    </DraftAdmin.Properties.Settings>
  </applicationSettings>
</configuration>